/* .converter-section__title {
  display: flex;
  align-items: center;
}

.converter-section__title-icon {
  width: 60px;
  margin-right: 1em;
}

.form-group__select{
  display: flex;
  flex-direction: column;
}

.form-group label{
  font-size: 1.25em;
  font-weight: 700;
}

.form-group input {
  display: block;
}
 */
